.app_dark_theme {
    --bg-color: #333;
    --inverted-bg-color: #dcdcdc;
    --primary-color: #c4433a;
    --secondary-color: #dcdcdc;
    --inverted-primary-color: #bd3333;
    --inverted-secondary-color: #333;
}
