.app_light_theme {
    --bg-color: #ece8e1;
    --inverted-bg-color: #343538;
    --primary-color: #c4433a;
    --secondary-color: #333;
    --inverted-primary-color: #80c6bc;
    --inverted-secondary-color: #dcdcdc;
}
